.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 2rem;

}

.cards {
  margin: 2rem;

}

.card {
  background: #F5F5F5;
  flex-direction: column;
  align-items: center;
  width: 400px;

  padding: 1.5rem;

}

.card h1 {
  margin-bottom: 1rem;
}

.card p {
  Width: 328.1px;
  Height: 210px;
  Top: 204px;
  Left: 352px;
  font-weight: 400;
  font-Size: 16px;
  Line-height: 20.8px;
  margin-bottom: 4rem;
}

.button {

  width: 138.77px;
  height: 47.48px;
  left: 352px;
  top: 969.99px;
  border: 1px solid #264FEC;
  border-radius: 4px;
  color: #264FEC;

}

/*Footer*/

.rodape {
  display: flex;
  background-color: #FFFFFF;
  color: white;
  bottom: 0;
  position: relative;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;


}

.rodape-container {
  display: flex;

}

.mobile {
  display: flex;
  padding: 5rem;
  gap: 5rem;
}

.list1 {
  display: flex;
  justify-content: space-around;
  margin: 0 5rem 0 5rem;
  align-items: center;
  gap: 5rem
}

.list1 img {
  width: 84.37px;
}

.desenvolveSimples {
  display: none;
}

.desenvolve {
  display: flex;
  width: 196.23px;
  height: 66.42px;
  padding-top: 1rem;
}

.list2 {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: flex-start;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: black;
  width: 137px;
  gap: 1rem;

}

.redes {
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  justify-content: center;
}


.list3 {
  display: flex;
}

.redes p {
  padding-top: 1rem;
}


.list3 li {
  padding: .5rem;
  list-style-type: none;
}

/*Responsividade*/

@media screen and (max-width: 748px) {



  .cards {
    width: 100vw;
    margin: 1rem;
  }

  .card {
    width: 100%;
  }

  .list1 {
    gap: 0;
    flex-direction: column;
  }

  .rodape {
    padding: 0;
    width: 100%;

  }

  .rodape-container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .list1 {
    margin-left: 1rem;
  }

  .desenvolve {
    display: none;
  }

  .desenvolveSimples {
    display: block;
    padding-top: 2rem;
  }

  .mobile {
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 1rem;
  }

  .list2 {
    align-items: center;
    justify-content: center;
    padding: 2.5rem 2rem;
  }

  .redes {

    justify-content: center;
    align-items: center;
  }
}